/node_modules
/public/hot
/public/storage
/vendor
source/.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
source/vendor
storage
source/.editorconfig
source/.gitattributes
source/.styleci.yml
source/storage
**/cache
/storage/
